* {
  margin: 0;
  padding: 0; }

.day {
  box-size: border-box;
  border: 1px solid black;
  text-align: center; }

.calendarScrollContent {
  height: 250px; }

.currentMonth {
  background-color: #fef9ff; }

.lastMonth {
  background-color: #d0d0d0; }

.currentMonth {
  text-align: center; }
  .currentMonth span {
    inline-display: block;
    min-width: 150px; }
  .currentMonth span, .currentMonth i {
    font-size: 20px; }
  .currentMonth i {
    cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
