*{
  margin: 0;
  padding: 0;
}

.heading{
  text-align: center;
}

.day{
  box-size: border-box;
  border: 1px solid black;
  text-align: center;
}

.currentMonth{
  background-color: #fef9ff;
  span{
    display: inline-block;
    width:180px;
  }
}

.lastMonth{
  background-color: #d0d0d0;
}

.selected{
  background-color: #04d0af;
}

.currentMonth{
  text-align: center;
  span{
    inline-display: block;
    min-width:150px;
  }
  span{
    font-size:20px;
  }
  i{
    font-size:23px;
    cursor: pointer;
  }
}