* {
  margin: 0;
  padding: 0; }

.heading {
  text-align: center; }

.day {
  box-size: border-box;
  border: 1px solid black;
  text-align: center; }

.currentMonth {
  background-color: #fef9ff; }
  .currentMonth span {
    display: inline-block;
    width: 180px; }

.lastMonth {
  background-color: #d0d0d0; }

.selected {
  background-color: #04d0af; }

.currentMonth {
  text-align: center; }
  .currentMonth span {
    inline-display: block;
    min-width: 150px; }
  .currentMonth span {
    font-size: 20px; }
  .currentMonth i {
    font-size: 23px;
    cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
