<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kalendarz rezerwacji</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Calendar Application">
    <meta name="author" content="Mateusz Waligóra">
    <link rel="stylesheet" href="includes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="includes/MDB_3.3.3/css/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body ng-app="calendar">
<div class="container-fluid" ng-controller="calendarController">

    <div class="row" >
        <div class="col-xs-7 col-sm-4 col-sm-offset-1">
            <h4 class="heading">Kalendarz rezerwacji</h4>
            <div class="currentMonth">
                <i class="fa fa-angle-left" ng-click="previousMonth()"></i>
                <span class="currentMonthName">{{polishMonths[month]}} {{year}}</span>
                <i class="fa fa-angle-right" ng-click="nextMonth()"></i>
            </div>

            <div class="dayNames ">
                <span class="day col-xs-1 primary-color-dark white-text">Pon.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Wtor.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Śr.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Czw.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Pt.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Sob.</span>
                <span class="day col-xs-1 primary-color-dark white-text">Nied.</span>
            </div>
            <div class="weeks" ng-repeat="day in days | limitTo: 42">
                <span ng-bind="day.dayNumber" ng-click="pickDate(this)" class="day col-xs-1 hidden-sm-down"
                      ng-class="{currentMonth: day.inCurrentMonth, lastMonth: !day.inCurrentMonth, selected: day.selected}"></span>
            </div>
            <button class="btn btn-success" ng-click="book()">Rezerwuj termin</button>
            <button class="btn btn-danger" ng-click="reset()">Resetuj zaznaczenie</button>
        </div>
    </div>
</div>


<script src="includes/mdb_3.3.3/js/jquery.min.js"></script>
<script src="includes/mdb_3.3.3/js/bootstrap.min.js"></script>
<script src="includes/mdb_3.3.3/js/mdb.min.js"></script>
<script src="includes/angular/angular.js"></script>
<script src="includes/moment/moment.js"></script>
<script src="js/app.js"></script>
<script src="js/services/GetDataService.js"></script>
<script src="js/services/SendDataService.js"></script>
<script src="js/services/Calendar.js"></script>
<script src="js/controllers/calendarController.js"></script>


</body>

</html>
